.dropdown > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
}

:host ::ng-deep .dropdown-content.active > .dropdown:first-child
{
    display: inline;
}

:host ::ng-deep .dropdown-content.active > .dropdown:not(:first-child) {
    left: 150px;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown .dropdown-title {
    padding: 3px 0 0 10px;
    display: block;
    line-height: 30px !important;
}

span {
    cursor: pointer;
}
